In [1]:
import pandas as pd
import geopandas as gpd
import os
import numpy as np

In [2]:
# 获取文件夹中所有的 shapefile 文件
shapefiles = [os.path.join("./data/LB_shp/", file) for file in os.listdir("./data/LB_shp/") if file.endswith('.shp')]

# 读取所有 shapefile 并合并到一个 GeoDataFrame 中
gdf_list = [gpd.read_file(shp) for shp in shapefiles]
merged_gdf = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))
merged_gdf

AttributeError: 'NoneType' object has no attribute 'copy'

,lsoa21cd,lsoa21nm,msoa21cd,msoa21nm,lad22cd,lad22nm,geometry
0,E01000011,Barking and Dagenham 016C,E02000017,Barking and Dagenham 016,E09000002,Barking and Dagenham,"POLYGON ((544607.954 184727.846, 544620.667 18..."
1,E01000046,Barking and Dagenham 017D,E02000018,Barking and Dagenham 017,E09000002,Barking and Dagenham,"POLYGON ((547258.972 184378.376, 547259.861 18..."
2,E01000051,Barking and Dagenham 021D,E02000022,Barking and Dagenham 021,E09000002,Barking and Dagenham,"POLYGON ((544603.471 183903.184, 544620.396 18..."
3,E01000077,Barking and Dagenham 008F,E02000009,Barking and Dagenham 008,E09000002,Barking and Dagenham,"POLYGON ((547548.035 185377.027, 547545.923 18..."
4,E01000083,Barking and Dagenham 007F,E02000008,Barking and Dagenham 007,E09000002,Barking and Dagenham,"POLYGON ((547934.06 186229.42, 547931.391 1861..."
...,...,...,...,...,...,...,...
4989,E01004727,Westminster 008D,E02000967,Westminster 008,E09000033,Westminster,"POLYGON ((527686.246 183502.219, 527697.728 18..."
4990,E01035716,Westminster 013G,E02000972,Westminster 013,E09000033,Westminster,"POLYGON ((529365.209 181301.039, 529349.069 18..."
4991,E01004731,Westminster 020A,E02000979,Westminster 020,E09000033,Westminster,"POLYGON ((529396.801 179907.419, 529469.883 17..."
4992,E01004736,Westminster 018C,E02000977,Westminster 018,E09000033,Westminster,"POLYGON ((529666.73 180792.554, 529667.7 18079..."
4993,E01035718,Westminster 019G,E02000978,Westminster 019,E09000033,Westminster,"POLYGON ((528044.949 180617.984, 528046.344 18..."

In [ ]:
merged_gdf = merged_gdf[['lsoa21cd','lsoa21nm','geometry']]

# 根据 lsoa21cd 列进行排序，并丢弃旧索引
merged_gdf = merged_gdf.sort_values(by='lsoa21cd').reset_index(drop=True)
merged_gdf

In [14]:
# 将合并后的 GeoDataFrame 保存为 GeoJSON 文件
merged_gdf.to_file("LSOA.gpkg", driver='gpkg')